# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# CCS C Compiler
*.BAK
*.cod
*.cof
*.err
*.LST
*.PJT
*.sta
*.SYM
*.tre

# PIC_CCSC_CameraMount
/html/
/rtf/
/build/
